* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #666;
    line-height: 1.6;
    font-size: 13px;
}

.container {
    width: 70%;
    margin: 40px auto;
}

.clear {
    clear: both;
}

.intro-text {
    text-align: center;
    padding: 20px 0;
}

.divider {
    border-top: 1px solid #eee;
    margin: 30px 0;
}

.col4 {
    width: 25%;
    float: left;
    padding: 10px;
}

.img-box {
    background-color: #333;
    color: #fff;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 5px solid #fff;
}

.view-link {
    display: block;
    text-align: right;
    color: #f39c12;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.service-item {
    width: 25%;
    float: left;
    padding: 15px;
    margin-bottom: 20px;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: #333;
    color: #fff;
    float: left;
    font-size: 8px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
}

.service-item h3 {
    font-size: 14px;
    color: #444;
}

.service-item p {
    font-size: 12px;
    margin-bottom: 10px;
    clear: both;
}

.service-item a {
    color: #f39c12;
    text-decoration: none;
    font-size: 11px;
}

footer {
    background-color: #333;
    color: #bbb;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-content {
    width: 70%;
    margin: 0 auto;
}

.footer-content .left {
    float: left;
}

.footer-content .right {
    float: right;
}